@model WebApplication1.Models.MainSystem.MainSystemViewModel.AspVendorViewModel
@{
    ViewData["Title"] = "Vendor - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Vendor List</h1>
            </div>
            <div class="card-body card-padding">
                <div class="table-responsive">
                    <table id="data-table" class="table table-vmiddle" style="table-layout: auto;">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-type="numeric" data-visible="false" data-order="desc">ID</th>
                                <th data-column-id="active" data-visible="false">active</th>
                                <th data-column-id="No">No</th>
                                <th data-column-id="CompanyName">Company Name</th>
                                <th data-column-id="CompanyAddress">Company Address</th>
                                <th data-column-id="isActive" data-formatter="activated" data-sortable="false">Status</th>
                                <th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in Model.VendorList)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(a => item.Id)</td>
                                    <td>@Html.DisplayFor(a => item.IsActive)</td>
                                    <td>@(i++)</td>
                                    <td>@Html.DisplayFor(a => item.CompanyName)</td>
                                    <td>@Html.DisplayFor(a => item.Address)</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/ThemeForest/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
<!--Section Custom Scripts-->
<script>
    $(document).ready(function () {    
        $("#data-table").bootgrid({
            caseSensitive:false,
            css: {
                icon: 'zmdi icon',
                iconColumns: 'zmdi-view-module',
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less'
            },
            formatters:
            {
                "commands": function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" onclick='ShowVendor(\"" + row.id + "\")'><span class=\"zmdi zmdi-eye\"></span></button>";          
                },

                "activated": function (column, row) {
                    if (row.active == "No") {
                        return "<button type=\"button\" class=\"btn btn-danger waves-effect\"><span class=\"zmdi zmdi-lock\"></span> Inactive</button>";
                    }
                    else if (row.active == "Yes") {
                        return "<button type=\"button\" class=\"btn palette-Blue bg waves-effect\"><span class=\"zmdi zmdi-lock-open\"></span> Active</button>";
                    }
                }
                
            }
        });
    })
</script>
<script>
    function ShowVendor(id) {
        var getId = id;
        window.location.href = "/Vendors/Show?adhfliewgfblbksdfUEOfbiualbgfE1038RYHWEO=" + getId;
    }
</script>
 }

@section Styles{
<link rel="stylesheet" href="~/ThemeForest/vendors/bootgrid/jquery.bootgrid.min.css" />
 }