@model WebApplication1.Models.ViewModel.VendorViewModel
@{
    ViewData["Title"] = "" + ViewBag.NamaVendor;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Detil Vendor @ViewBag.NamaVendor</h2>
            </div>
            <div class="card-body card-padding" id="form-view">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="form-row">
                                    <!-- Row Kiri-->
                                    <div class="col-md-6">
                                        <div class="pm-body clearfix">
                                            <div class="pmb-block">
                                                <div class="pmbb-header">
                                                    <h4><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h4>
                                                </div>
                                                <div class="pmbb-body p-l-30">
                                                    <div class="pmbb-view">
                                                        <dl class="dl-horizontal">
                                                            <dt>Vendor No</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VendorNo)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Vendor Name</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VendorName)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Vendor City</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VendorCity)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Vendor Contact</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VendorContact)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Vendor Phone Number</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VendorPhoneNo)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Fax No</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VendorFaxNo)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Mobile No</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.MobileNo)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Email</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.Email)</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Row Kanan-->
                                    <div class="col-md-6">
                                        <div class="pm-body clearfix">
                                            <div class="pmb-block">
                                                <div class="pmbb-header">
                                                    <h4><i class="zmdi zmdi-dns m-r-5"></i> More Information</h4>
                                                </div>
                                                <div class="pmbb-body p-l-30">
                                                    <div class="pmbb-view">
                                                        <dl class="dl-horizontal">
                                                            <dt>Country Code</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.Country)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Currency Code</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.CurrencyCode)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Payment Terms</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.PaymentTermsCode)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Vendor Posting group</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VendorPostingGroup)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Gen Business Group</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.GenBusPostingGroup)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>VAT Group</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.VatbusPostingGroup)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Location Code</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.LocationCode)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Created By</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.CreatedBy)</dd>
                                                        </dl>
                                                        <dl class="dl-horizontal">
                                                            <dt>Modified By</dt>
                                                            <dd>@Html.DisplayFor(a => a.vendors.LastModifiedBy)</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="col-md-5"></div>
                                <div class="col-md-2"><button type="button" id="btn-show" class="btn btn-block palette-Deep-Orange bg waves-effect"><i class="zmdi zmdi-edit"></i> Edit</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body card-padding" id="form-edit">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <form id="submitedit" role="form" method="post" asp-controller="Vendors" asp-action="UpdateOfflineVendors">
                                <div class="form-group">
                                    <div class="form-row">
                                        <!-- Row Kiri-->
                                        <div class="col-md-6">
                                            <div class="pm-body clearfix">
                                                <div class="pmb-block">
                                                    <div class="pmbb-header">
                                                        <h4><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h4>
                                                    </div>
                                                    <div class="pmbb-body p-l-30">
                                                        <div class="pmbb-edit">
                                                            @Html.HiddenFor(a => a.vendors.VendorId)
                                                            <dl class="dl-horizontal">
                                                                <dt>Vendor No<span class="text-danger">*</span></dt>
                                                                <dd><input asp-for="vendors.VendorNo" type="text" class="form-control" disabled /></dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Vendor Name<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <div class="fg-line">
                                                                        <input asp-for="vendors.VendorName" type="text" class="form-control" placeholder="Vendor Name" required />
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Vendor City<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <div class="fg-line">
                                                                        <input asp-for="vendors.VendorCity" type="text" class="form-control" placeholder="Vendor City" required />
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Vendor Contact<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <div class="fg-line">
                                                                        <input asp-for="vendors.VendorContact" type="text" class="form-control" placeholder="Contact Name" required />
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Vendor Phone Number<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <div class="fg-line">
                                                                        <input asp-for="vendors.VendorPhoneNo" type="text" class="form-control input-mask" data-mask="000 000 000 0000" required />
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Fax No<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <div class="fg-line">
                                                                        <input asp-for="vendors.VendorFaxNo" type="text" class="form-control input-mask" data-mask="0000 000 00000" required />
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Mobile No<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <div class="fg-line">
                                                                        <input asp-for="vendors.MobileNo" type="text" class="form-control input-mask" data-mask="000 000 000 0000" required />
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Email<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <div class="fg-line">
                                                                        <input asp-for="vendors.Email" type="email" class="form-control" required />
                                                                    </div>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Row Kanan-->
                                        <div class="col-md-6">
                                            <div class="pm-body clearfix">
                                                <div class="pmb-block">
                                                    <div class="pmbb-header">
                                                        <h4><i class="zmdi zmdi-dns m-r-5"></i> More Information</h4>
                                                    </div>
                                                    <div class="pmbb-body p-l-30">
                                                        <div class="pmbb-edit">
                                                            <br />
                                                            <dl class="dl-horizontal">
                                                                <dt>Country Code<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <select asp-for="vendors.Country" asp-items="@ViewBag.ListOfCountries" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        <option></option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Currency Code<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <select asp-for="vendors.CurrencyCode" asp-items="@ViewBag.Currency" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        <option></option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Payment Terms<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <select asp-for="vendors.PaymentTermsCode" asp-items="@ViewBag.ListOfPaymentTerms" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        <option></option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Vendor Posting group<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <select asp-for="vendors.VendorPostingGroup" asp-items="@ViewBag.ListOfVendorPostingGroup" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        <option></option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Gen Business Group<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <select asp-for="vendors.GenBusPostingGroup" asp-items="@ViewBag.ListOfGenBusPostingGroup" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        <option></option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>VAT Group<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <select asp-for="vendors.VatbusPostingGroup" asp-items="@ViewBag.ListOfVATBusPostingGroup" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        <option></option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Location Code<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <select asp-for="vendors.LocationCode" asp-items="@ViewBag.ListOfLocationCode" class="selectpicker" data-width="100%" data-live-search="true" required>
                                                                        <option></option>
                                                                    </select>
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Created By<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <input asp-for="vendors.CreatedBy" class="form-control" type="text" disabled />
                                                                </dd>
                                                            </dl>
                                                            <dl class="dl-horizontal">
                                                                <dt>Modified By<span class="text-danger">*</span></dt>
                                                                <dd>
                                                                    <input asp-for="vendors.LastModifiedBy" class="form-control" type="text" disabled />
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group clearfix">
                                        <div class="form-row">

                                            <div class="col-md-2 col-md-offset-4"><button type="button" id="btn-back" class="btn btn-block palette-Indigo bg waves-effect"><i class="zmdi zmdi-rotate-left"></i> Back</button></div><br />
                                            <div class="col-md-2"><button type="submit" class="btn btn-block palette-Light-Blue bg waves-effect"><i class="zmdi zmdi-edit"></i> Update</button></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Styles{
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/bootstrap-select/dist/css/bootstrap-select.css" />
}

@section Scripts{
    <script type="text/javascript" src="~/ThemeForest/vendors/input-mask/input-mask.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/ThemeForest/sweetalert2/sweetalert2.all.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#form-view").show();
            $("#form-edit").hide();
        })
    </script>

    <script>
        $("#btn-back").click(function () {
            $("#form-view").show();
            $("#form-edit").hide();
        })
    </script>

    <script>
        $("#btn-show").click(function () {
            $("#form-view").hide();
            $("#form-edit").show();
        })
    </script>

    <script>
        $('#submitedit').submit(function (e, params) {
            var localParams = params || {};

            if (!localParams.send) {
                e.preventDefault();
            }

            Swal.fire({
                title: 'Are You Sure?',
                text: 'Are you sure to update this vendor?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '<i class="zmdi zmdi-edit"></i> Update!',
                cancelButtonText: 'Cancel',
                closeOnConfirm: true
            }).then((result) => {
                if (result.value) {
                    $(e.currentTarget).trigger(e.type, { 'send': true });
                }
            })

        });
    </script>

}