@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject WebApplication1.Models.MainSystem.MainSystemDevelopContext context
@{
    var user = context.AspNetUsers.FirstOrDefault(a => a.UserName == User.Identity.Name);
    if (user == null)
    {
        ViewBag.Picture = "avatar5.png";
    }
    else { 
        if (user.Picture == null || user.Picture == "")
        {
            ViewBag.Picture = "avatar5.png";
        }
        else
        {
            ViewBag.Picture = user.Picture;
        }
    }

}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - BalimOOn Indonesia</title>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/fullcalendar/dist/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/google-material-color/dist/palette.css" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/ThemeForest/css/app.min.1.css" />
    <link rel="stylesheet" href="~/ThemeForest/css/app.min.2.css" />

    <!-- Custom CSS -->
    @RenderSection("Styles", required: false)

</head>
<body data-ma-header="blue">
    <header id="header" class="media">
        <div class="pull-left h-logo">
            <a asp-controller="Home" asp-action="Index" class="hidden-xs">
                BalimOOn
                <small>BalimOOn Liqueurs</small>
            </a>
            <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                <div class="mc-wrap">
                    <div class="mcw-line top palette-White bg"></div>
                    <div class="mcw-line center palette-White bg"></div>
                    <div class="mcw-line bottom palette-White bg"></div>
                </div>
            </div>
        </div>
        <ul class="pull-right h-menu">
            <li class="dropdown hm-profile">
                <a data-toggle="dropdown" href="#">
                    <img src="~/dist/img/@ViewBag.Picture" alt="">
                </a>
                <ul class="dropdown-menu pull-right dm-icon">
                    <li>
                        <a href="/Account/ProfileUser"><i class="zmdi zmdi-account"></i> View Profile</a>
                    </li>
                    <li>
                        <a href="/Account/ChangePassword"><i class="zmdi zmdi-settings"></i> Change Password</a>
                    </li>
                    <li>
                        <a href="/Account/Logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>

    <section id="main">
        <aside id="s-main-menu" class="sidebar">


            <ul class="smm-alerts">
                <li data-user-alert="sua-notifications" class="dropdown hm-profile">
                    <a data-toggle="dropdown" href="#">
                        <img src="~/dist/img/@ViewBag.Picture" alt="">
                    </a>
                </li>
                <li class="nama">@User.Identity.Name</li>
            </ul>
            <!-- Sidebar Menu -->
            <ul class="main-menu">
                <li><a href="/"><i class="zmdi zmdi-home"></i> HOME </a></li>
                @Html.Raw(HttpContextAccessor.HttpContext.Session.GetString("menuString"))
            </ul>
            <!-- /.sidebar-menu -->
        </aside>

            @RenderBody()
            <footer id="footer">
                Copyright &copy; BalimOOn Liqueurs & Material Admin 2015
            </footer>
    </section>
    <!-- Page Loader -->
    <div class="page-loader palette-Blue bg">
        <div class="preloader pl-xl pls-white">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>
        </div>
    </div>

    <!--Library JavaScripts-->
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/Waves/dist/waves.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/salvattore/dist/salvattore.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/flot.curvedlines/curvedLines.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/ThemeForest/js/flot-charts/curved-line-chart.js"></script>
    <script type="text/javascript" src="~/ThemeForest/js/flot-charts/line-chart.js"></script>
    <script type="text/javascript" src="~/ThemeForest/js/charts.js"></script>
    <!--Script Function-->
    <script type="text/javascript" src="~/ThemeForest/js/functions.js"></script>
    <script type="text/javascript" src="~/ThemeForest/js/actions.js"></script>

    <!-- Custom Scripts-->
    @RenderSection("Scripts", required: false)
</body>
</html>