@model WebApplication1.Models.ViewModel.UsersRoleViewModel
@{
    ViewData["Title"] = "" + ViewBag.NamaUser;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>@ViewBag.NamaUser - Detail</h2>
            </div>
            <div class="card-body card-padding" id="form-view">
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <dl class="dl-horizontal">
                                            <dt>User Name</dt>
                                            <dd>@Html.DisplayFor(a => a.userDetail.UserName)</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>E-Mail</dt>
                                            <dd>@Html.DisplayFor(a => a.userDetail.Email)</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Phone No</dt>
                                            <dd>@Html.DisplayFor(a => a.userDetail.PhoneNumber)</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-6">
                                        <dl class="dl-horizontal">
                                            <dt>Roles</dt>
                                            <dd>@Html.DisplayFor(a => a.rolesDetail.Title)</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Roles Description</dt>
                                            <dd>@Html.DisplayFor(a => a.rolesDetail.Description)</dd>
                                        </dl>
                                        <dl class="dl-horizontal">
                                            <dt>Departemen</dt>
                                            <dd>@Html.DisplayFor(a=>a.userDetail.Departement)</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 col-md-offset-5">
                                    <button type="button" class="btn palette-Green bg waves-effect" id="btn-edit0"><span class="zmdi zmdi-edit"></span> Edit Roles</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="form-edit" class="card-body card-padding">
                <div class="form-group">
                    <form id="edit_roles_form" method="post" role="form" asp-controller="Users" asp-action="UpdateRoles">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="form-row">
                                            <input asp-for="userDetail.Id" id="UserId" hidden />

                                            <div class="form-group fg-float" id="form-show-error">
                                                <div class="fg-line">
                                                    <span id="message" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="input-group fg-float">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-account zmdi-hc-fw"></i></span>
                                                    <div class="fg-line">
                                                        <label>User Name</label>
                                                        <input asp-for="userDetail.UserName" type="text" class="form-control" id="EditUserName" disabled />
                                                    </div>
                                                </div>
                                                <br /><br />

                                                <div class="input-group fg-float">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-email zmdi-hc-fw"></i></span>
                                                    <div class="fg-line">
                                                        <label>E-Mail</label>
                                                        <input asp-for="userDetail.Email" type="email" class="form-control" id="EditEmail" disabled />
                                                    </div>
                                                </div>
                                                <br /><br />

                                                <div class="input-group fg-float">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-phone zmdi-hc-fw"></i></span>
                                                    <div class="fg-line">
                                                        <label>Phone No</label>
                                                        <input asp-for="userDetail.PhoneNumber" type="text" class="form-control" id="EditPhoneNo" disabled />
                                                    </div>
                                                </div>
                                                <br /><br />
                                            </div>

                                            <div class="col-md-6">

                                                <div class="input-group fg-float">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-wrench zmdi-hc-fw"></i></span>
                                                    <div class="fg-line">
                                                        <label>User Role<span class="text-danger">*</span></label>
                                                        <select asp-for="rolesDetail.Id" asp-items="@ViewBag.ListofRoles" class="selectpicker" data-width="100%" id="EditRole" data-live-search="true" required>
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br /><br />

                                                <div class="input-group fg-float">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-view-headline"></i></span>
                                                    <div class="fg-line">
                                                        <label>Role Description</label>
                                                        <textarea asp-for="rolesDetail.Description" class="form-control" id="EditRoleDescription" disabled></textarea>
                                                    </div>
                                                </div>
                                                <br /><br />

                                                <div class="input-group fg-float">
                                                    <span class="input-group-addon"><i class="zmdi zmdi-city zmdi-hc-fw"></i></span>
                                                    <div class="fg-line">
                                                        <label>Departemen</label>
                                                        <select asp-for="userDetail.Departement" asp-items="@ViewBag.DepartmentList" class="selectpicker" data-width="100%" id="Departemen" data-live-search="true" required>
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br /><br />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Untuk Button Dibawahnya-->
                        <div class="col-md-2 col-md-offset-4">
                            <button type="button" class="btn btn-block palette-Orange bg waves-effect" id="btn-back" style="display:block"><span class="zmdi zmdi-rotate-left"></span> Back</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-block palette-Blue bg waves-effect" id="btn-edit2" onclick="Validate()"><span class="zmdi zmdi-edit"></span> Update Roles</button>
                        </div>
                    </form>
                </div>
            </div>            
        </div>
    </div>    
</section>
@section Styles{
<!--Import Style-->
    <link rel="stylesheet" href="~/ThemeForest/vendors/bower-components/bootstrap-select/dist/css/bootstrap-select.css" />

<!--End Of Import Style-->
}
@section Scripts{
<!--Import JS-->
    <script type="text/javascript" src="~/ThemeForest/vendors/bower-components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/ThemeForest/sweetalert2/sweetalert2.all.min.js"></script>

<!--End Of Import JS-->
    <script>
        $(document).ready(function () {
            $("#form-view").show();
            $("#form-edit").hide();
            $("#form-show-error").hide();

            //dynamic role description while selectbox change
            $("#EditRole").on("change", function () {
                var rolesId = $("#EditRole").val();
                var link = "/Users/DynamicRoleDescription?id=" + rolesId;
                $.ajax({
                    type: "GET",
                    url: link,
                    success: function (result) {
                        var res = JSON.parse(result);
                        $("#EditRoleDescription").val(res.Description);
                    }
                })
            })

        })
    </script>
    <script>
        $("#btn-edit0").click(function () {
            $("#form-view").hide();
            $("#form-edit").show();
            $("#form-show-error").hide();

        })
        $("#btn-back").click(function () {
            $("#form-view").show();
            $("#form-edit").hide();
            $("#form-show-error").hide();
        })
    </script>
<script>
    function Validate() {
        if (!$("#EditRole").val()) {
            Swal.fire({
                type: 'error',
                title: 'Oops...',
                text: 'Roles Cannot Be Null...!!'
            })
        } else if (!$("#Departemen").val()) {
            Swal.fire({
                type: 'error',
                title: 'Oops...',
                text: 'Department Cannot Be Null...!!'
            })
        } else {
            var id = $("#UserId").val();
            var roles = $("#EditRole").val();
            Swal.fire({
                type: 'warning',
                title: 'Are You Sure?',
                text: 'Change the ' + $("#EditUserName") + ' roles',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '<i class="zmdi zmdi-edit"></i> Update'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "POST",
                        url: "/Users/UpdateUsersRole",
                        data: $("#edit_roles_form").serialize(),
                        error: function (result) {
                            $("#form-show-error").show();
                            $("#message").text("There is a Problem, Try Again..!");
                        },
                        success: function (result) {
                            if (result.status = true) {
                                Swal.fire(
                                'Saved!',
                                'Your change has been saved.',
                                'success'
                                ).then((result) => {
                                    window.location.href = "/Users/ShowUserDetailAbsahjskdUhduiagdsNBDA?WYGAILvsdhalsvMwebhJSA=" + id;
                                })
                            }
                            else {
                                Swal.fire({
                                    type: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!',
                                    footer: ''+result
                                })
                            }
                        }
                    })
                }
            })
             
        }
    }
</script>

}